
@{
    ViewBag.Title = "Create";
}


<h1>Edit Product</h1>
<form method="post" action="/Home/Create">

    <table class="table">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
            <th></th>

        </tr>

        <tr>
            <td><input name="Id"  /></td>
            <td><input name="Name"  /></td>
            <td><input name="Price"  /></td>
            <td><button type="submit">Save</button></td>

        </tr>


    </table>
</form>
